<ion-header [translucent]="true"> 
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header">
    <ion-title class="title">Enter your email</ion-title>
    <p class="subTitle">to recieve a reset passoword link</p>
  </div>
  <div class="form">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
    <br>
    <ion-button expand="block" (click)="resetPassword()">Enviar Email de Redefinição de Senha</ion-button>
  </div>
</ion-content>