<ion-content [fullscreen]="true" class="ion-padding">
  <div class="form">
    <div class="header">
      <ion-title class="title">Welcome Back</ion-title>
      <p class="subTitle">Sign in to access your account</p>
    </div>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input [(ngModel)]="password" [type]="passwordType"></ion-input>
      <ion-icon [name]="passwordIcon" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
    </ion-item>
    <br>
    <ion-button (click)='login()' expand="block">Login</ion-button>

    <br>
    <h5 (click)="signup()">Dont't have accont? <ion-text color="primary">signup here</ion-text></h5>
    <h5 [routerLink]="['/reset-password']">Forgot password?</h5>
  </div>
</ion-content>